.day {
  @include absolute($top: 0, $left: calc(50% - 20rem), $right: auto, $bottom: auto, $width: 40rem, $height: 60rem);
  opacity: 0;
  z-index: 20;
  background-color: white;
  font-family: 'subtitle';
  box-shadow: 0 40px 120px -40px rgba(0,0,0,.75);
  overflow: hidden;
  transform: scale(.8);
  transition: opacity .55s, transform .55s;

  &.anim {
    opacity: 1;
    transform: scale(1);
    z-index: 10;
  }

  &.back {
    opacity: .3;
    transform: scale(.8);
    z-index: 10;
  }
}

.day__header {
  position: relative;
  text-align: center;
  padding: 2rem 3rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  box-shadow: 0 0 30px -10px rgba(0,0,0,.75)
}

.day__header__close {
  @include absolute($left: auto, $bottom: auto, $height: 100%, $width: 5.6rem);
  cursor: pointer;
  font-size: 2rem;
  padding-top: 1.9rem;
  padding-left: .3rem;
  background: #fbfbfb;
  box-sizing: border-box;
}

.day__hour__list {
  height: 54.5rem;
  background: white;
  overflow: auto;
}

.day__hour__item {
  position: relative;
  display: flex;
  height: 10rem;

  span {
    display: inline-block;
    padding-right: .6rem;
    padding-left: .6rem;
    z-index: 20;
    padding-top: .6rem;
  }

  &.tmp {
    background-color: rgba(255,0,0,.5);
  }
}

.day__hour__item-wrapper {
  background-color: white;
  cursor: pointer;
  border-bottom: .1rem solid $gray--light;
  margin: 1rem;
}

.day__hour__item__event {
  position: relative;
  flex-basis: 100%;
  height: calc(100% - 1rem);
  background-color: rgba($cyan,.5);
  z-index: 10;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;

  & + & {
    border-left: .1rem solid $cyan;
  }
}

.day__hour__item__event__close {
  @include absolute($left: auto, $bottom: auto, $height: auto, $width: 2.6rem);
  box-sizing: border-box;
  background-color: $cyan;
  padding: .3rem .5rem .5rem .7rem;
  text-align: center;
  cursor: pointer;
}

[class^="day__hour__item__event__"] {
  line-height: 1.4;
  max-width: calc(100% - 2rem);
}

.day__hour__item__event__title {
  font-size: 1.6rem;
}

.day__hour__item__event__description {
  font-size: 1.3rem;
}
