.day {
  width: 30rem;
}

.day__header {
  position: relative;
  text-align: center;
  padding: 2rem 3rem;
}

.day__header__close {
  @include absolute($left: auto, $bottom: auto, $height: auto, $width: auto);
  cursor: pointer;
}

.day__hour__list {
  height: 60rem;
  background: whitesmoke;
  overflow: auto;
}

.day__hour__item {
  position: relative;
  display: flex;
  height: 8rem;
  // border-bottom: .1rem solid gray;
  // margin-bottom: -.8rem;

  span {
    display: inline-block;
    padding-right: .6rem;
    padding-left: .6rem;
    z-index: 20;
  }

  &.tmp {
    background-color: rgba(255,0,0,.5);
  }
}

.day__hour__item-wrapper {

  background-color: whitesmoke;
  &:nth-child(even) {
    background-color: darken(whitesmoke, 4%);
  }
}

.day__hour__item__event {
  position: relative;
  flex-basis: 100%;
  height: 100%;
  background-color: rgba(255,0,0,.5);
  border: .1rem solid red;
  z-index: 10;
  padding: 1rem;
  box-sizing: border-box;
}

.day__hour__item__event__close {
  @include absolute($left: auto, $bottom: auto, $height: auto, $width: auto);
  padding-top: .5rem;
  padding-right: .5rem;
  cursor: pointer;
}
