.modal {
  @include absolute($top: 0, $left: 0, $right: auto, $bottom: auto, $width: 100%, $height: 60rem);
  background-color: white;
  z-index: 0;
  opacity: 0;
  font-family: 'subtitle';
  transform: scale(.8);
  transition: opacity .55s, transform .55s;
  padding: 3rem;
  box-sizing: border-box;
  box-shadow: 0px 40px 120px -40px rgba(0,0,0,0.75);
  max-width: 100%;

  @include mq('small') {
    left: calc(50% - 20rem);
    width: 40rem;
  }

  &.anim {
    opacity: 1;
    transform: scale(1);
    z-index: 30;
  }
}

.modal__header {
  padding: 0 2rem 2rem 2rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 100;
}

.modal__body {
  margin-top: 1rem;
}

[class^="modal__input--"] {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 1.8rem;
  padding: .5em .2em;

  &:placeholder-shown {
    font-size: 1.2rem;
  }
}

.modal__input--text {
  border: 0;
  border-bottom: .1rem solid $gray--light;
}

.modal__input--textarea {
  border: .1rem solid $gray--light;
}

.modal__footer{
  display: flex;
  justify-content: flex-end;
}

[class^="modal__footer__"] {
  border: 0;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0,0,0,.75);
  transform: translate3d(0, 0, 0);
  transition: box-shadow .33s, transform .33s;

  &:hover {
    box-shadow: 0 10px 20px -15px rgba(0,0,0,.75);
    transform: translate3d(0, -.5rem, 0);
  }
}

.modal__footer__cancel {
  background: red;
  margin-right: 2rem;
}

.modal__footer__add {
  background: $cyan;
}
